<table class="table primary">
  <tbody>
  {% for i in 1..7 %}
    <tr>
      {% for j in 1..18 %}
        <td data-period="{{ i }}" data-group="{{ j }}">
          {% if not fields.elems[i][j] is empty %}
            {% for el in fields.elems[i][j] %}
              {{ el.symbol }}
            {% endfor %}
          {% endif %}
        </td>
      {% endfor %}
    </tr>
  {% endfor %}
  </tbody>
</table>

<table class="table secondary">
  <tbody>
    <tr>
      {% for el in fields.elems[6][31] %}
        <td data-period="6" data-group="31" data-offset="{{ loop.index }}">
          {{ el.symbol }}
        </td>
      {% endfor %}
    </tr>
  </tbody>
</table>

<table class="table secondary">
  <tbody>
    <tr>
      {% for el in fields.elems[7][32] %}
        <td data-period="7" data-group="32" data-offset="{{ loop.index }}">
          {{ el.symbol }}
        </td>
      {% endfor %}
    </tr>
  </tbody>
</table>
