<div id="card" class="q">
  <div class="color {{'{{'}}color{{'}}'}}"></div>
  {{  params.colorTableHtml | raw }}
</div>

<script>
  const color="{{'{{'}}color{{'}}'}}";
  const swatch = document.querySelector('i.' + color);
  if (swatch) {
    swatch.classList.add('selected');
  }
</script>

--

<div id="card" class="a">
  <div class="color {{'{{'}}color{{'}}'}}">
    <div class="name-code">
      <div class="name">{{'{{'}}name{{'}}'}}</div>
      <div class="code">{{'{{'}}code{{'}}'}}</div>
    </div>
  </div>
  {{  params.colorTableHtml | raw }}
</div>

<script>
  const color="{{'{{'}}color{{'}}'}}";
  const swatch = document.querySelector('i.' + color);
  if (swatch) {
    swatch.classList.add('selected');
  }
</script>
