<div class="samples">
    <div style="background-color: #fff !important;">White</div>
    <div style="background-color: rgb(125,125,125) !important;">50% Gray</div>
</div>

<div class="color">{{'{{'}}color{{'}}'}}</div>

--

{{'{{'}}FrontSide{{'}}'}}

<hr id=answer>

<div class="color-box"><div class="code" style="background-color: {{'{{'}}code{{'}}'}} !important"></div></div>
